# LIST AND TUPLES
## Lab Report Tasks:
### Scenario:
### You are designing a small student management system. You need to maintain student data for a class. Each student has a name, a roll number, and a list of grades. The system must allow grade updates but keep roll numbers fixed.

## Tasks:
1.	Create a list of student names: ["Ali", "Usman", "Hassan", "Kamran"].
2.	Create a tuple of student roll numbers: (101, 102, 103, 104).
3.	For each student, create a list of grades (3 subjects) using nested lists:
Example: [ [85, 90, 78], [88, 92, 80], ... ]
4.	Update Ali’s second grade to 95.
5.	Add a new grade for Hassan in the fourth subject.
6.	Attempt to change Kamran’s roll number and observe what happens. Explain why.
7.	Print all students' names with their updated grades in a readable format.

In [3]:
students = ["Ali", "Usman", "Hassan", "Kamran"]
print(students)

['Ali', 'Usman', 'Hassan', 'Kamran']

In [4]:
roll_numbers = (101, 102, 103, 104)
print(roll_numbers)

(101, 102, 103, 104)

In [5]:
grades = [
    [85, 90, 78],
    [88, 92, 80],
    [75, 85, 70],
    [90, 88, 92]
]
print(grades)

[[85, 90, 78], [88, 92, 80], [75, 85, 70], [90, 88, 92]]

In [6]:
grades[0][1] = 95
print(grades[0])

[85, 95, 78]

In [7]:
grades[2].append(88)
print(grades[2])

[75, 85, 70, 88]

In [8]:
roll_numbers[3] = 110   #ERROR Becoz roll_numbers is tuple and are immutable

TypeError: 'tuple' object does not support item assignment

In [9]:
for i in range(4):
    print(students[i], "Grades:", grades[i])

Ali Grades: [85, 95, 78]
Usman Grades: [88, 92, 80]
Hassan Grades: [75, 85, 70, 88]
Kamran Grades: [90, 88, 92]

---